body {
    background: #cc33ff;
}
.container {
    margin: auto;
    background: #FFFFFF;
    float: left;
    width: 100%;
}
.brand, .cosmetics {
    width: 31%;
    border: 5px solid #FFFFFF;
    background: #FFFFFF;
    outline: 1px solid #CCCCCC;
    margin: 10px;
    text-align: center;
    float: left;
}
.brand {
    height: 300px;
}
.cosmetics {
    height: 300px;
}
.brand img, .cosmetics img {
    position: static;
    max-width: 100%;
    height: 76%;
    top: 5%;
    left: 10%;
}
p {
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
    color: #FF14C4;
    white-space: nowrap;
}